In [97]:
import pandas as pd

In [175]:
df_2017 = pd.read_csv('raw/ACSST5Y2017.S2503_data_with_overlays_2021-09-19T113628.csv', header=1)

In [176]:
df_2017.shape

(3592, 554)

In [177]:
df_2017.head()

,id,Geographic Area Name,Estimate!!Occupied housing units!!Occupied housing units,Margin of Error!!Occupied housing units MOE!!Occupied housing units,"Estimate!!Occupied housing units!!Occupied housing units!!HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2017 INFLATION-ADJUSTED DOLLARS)!!Less than $5,000","Margin of Error!!Occupied housing units MOE!!Occupied housing units!!HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2017 INFLATION-ADJUSTED DOLLARS)!!Less than $5,000","Estimate!!Occupied housing units!!Occupied housing units!!HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2017 INFLATION-ADJUSTED DOLLARS)!!$5,000 to $9,999","Margin of Error!!Occupied housing units MOE!!Occupied housing units!!HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2017 INFLATION-ADJUSTED DOLLARS)!!$5,000 to $9,999","Estimate!!Occupied housing units!!Occupied housing units!!HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2017 INFLATION-ADJUSTED DOLLARS)!!$10,000 to $14,999","Margin of Error!!Occupied housing units MOE!!Occupied housing units!!HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2017 INFLATION-ADJUSTED DOLLARS)!!$10,000 to $14,999",...,"Estimate!!Percent renter-occupied housing units!!Occupied housing units!!MONTHLY HOUSING COSTS AS A PERCENTAGE OF HOUSEHOLD INCOME IN THE PAST 12 MONTHS!!$75,000 or more!!Less than 20 percent","Margin of Error!!Percent renter-occupied housing units MOE!!Occupied housing units!!MONTHLY HOUSING COSTS AS A PERCENTAGE OF HOUSEHOLD INCOME IN THE PAST 12 MONTHS!!$75,000 or more!!Less than 20 percent","Estimate!!Percent renter-occupied housing units!!Occupied housing units!!MONTHLY HOUSING COSTS AS A PERCENTAGE OF HOUSEHOLD INCOME IN THE PAST 12 MONTHS!!$75,000 or more!!20 to 29 percent","Margin of Error!!Percent renter-occupied housing units MOE!!Occupied housing units!!MONTHLY HOUSING COSTS AS A PERCENTAGE OF HOUSEHOLD INCOME IN THE PAST 12 MONTHS!!$75,000 or more!!20 to 29 percent","Estimate!!Percent renter-occupied housing units!!Occupied housing units!!MONTHLY HOUSING COSTS AS A PERCENTAGE OF HOUSEHOLD INCOME IN THE PAST 12 MONTHS!!$75,000 or more!!30 percent or more","Margin of Error!!Percent renter-occupied housing units MOE!!Occupied housing units!!MONTHLY HOUSING COSTS AS A PERCENTAGE OF HOUSEHOLD INCOME IN THE PAST 12 MONTHS!!$75,000 or more!!30 percent or more",Estimate!!Percent renter-occupied housing units!!Occupied housing units!!MONTHLY HOUSING COSTS AS A PERCENTAGE OF HOUSEHOLD INCOME IN THE PAST 12 MONTHS!!Zero or negative income,Margin of Error!!Percent renter-occupied housing units MOE!!Occupied housing units!!MONTHLY HOUSING COSTS AS A PERCENTAGE OF HOUSEHOLD INCOME IN THE PAST 12 MONTHS!!Zero or negative income,Estimate!!Percent renter-occupied housing units!!Occupied housing units!!MONTHLY HOUSING COSTS AS A PERCENTAGE OF HOUSEHOLD INCOME IN THE PAST 12 MONTHS!!No cash rent,Margin of Error!!Percent renter-occupied housing units MOE!!Occupied housing units!!MONTHLY HOUSING COSTS AS A PERCENTAGE OF HOUSEHOLD INCOME IN THE PAST 12 MONTHS!!No cash rent
0,400C100US00037,"Abbeville, LA Urban Cluster (2010)",7522,336,330,108,634,171,715,190,...,7.2,3.2,0.0,1.3,0.0,1.3,1.8,2.1,15.4,4.7
1,400C100US00064,"Abbeville, SC Urban Cluster (2010)",2016,239,117,80,245,91,294,141,...,4.7,6.5,0.0,4.8,0.0,4.8,2.4,4.1,10.5,7.9
2,400C100US00091,"Abbotsford, WI Urban Cluster (2010)",1525,88,24,15,56,27,88,37,...,10.6,5.0,0.0,3.1,0.0,3.1,0.0,3.1,2.2,1.4
3,400C100US00118,"Aberdeen, MS Urban Cluster (2010)",1691,155,42,39,240,104,231,104,...,2.3,2.7,0.0,5.6,0.0,5.6,0.6,0.9,21.7,11.2
4,400C100US00145,"Aberdeen, SD Urban Cluster (2010)",12071,274,281,114,348,164,609,188,...,9.0,3.3,0.6,0.7,0.0,0.4,0.8,0.8,2.9,1.4

In [5]:
#df_2017.drop([col for col in df_2017.columns if 'Median' not in col], axis = 1, inplace=True)

In [178]:
word = 'Median'
word2 = 'Margin'
cols_list = [m for m in df_2017.columns if word in m and word2 not in m]

In [179]:
cols_list.insert(0, 'Geographic Area Name')

In [180]:
len(cols_list)

13

In [181]:
cols_list

['Geographic Area Name',
 'Estimate!!Occupied housing units!!Occupied housing units!!HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2017 INFLATION-ADJUSTED DOLLARS)!!Median household income (dollars)',
 'Estimate!!Occupied housing units!!Occupied housing units!!MONTHLY HOUSING COSTS!!Median (dollars)',
 'Estimate!!Percent occupied housing units!!Occupied housing units!!HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2017 INFLATION-ADJUSTED DOLLARS)!!Median household income (dollars)',
 'Estimate!!Percent occupied housing units!!Occupied housing units!!MONTHLY HOUSING COSTS!!Median (dollars)',
 'Estimate!!Owner-occupied housing units!!Occupied housing units!!HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2017 INFLATION-ADJUSTED DOLLARS)!!Median household income (dollars)',
 'Estimate!!Owner-occupied housing units!!Occupied housing units!!MONTHLY HOUSING COSTS!!Median (dollars)',
 'Estimate!!Percent owner-occupied housing units!!Occupied housing units!!HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2017 INFLATION-ADJUSTED DOLLARS)!!Median household income (dollars)',
 'Estimate!!Percent owner-occupied housing units!!Occupied housing units!!MONTHLY HOUSING COSTS!!Median (dollars)',
 'Estimate!!Renter-occupied housing units!!Occupied housing units!!HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2017 INFLATION-ADJUSTED DOLLARS)!!Median household income (dollars)',
 'Estimate!!Renter-occupied housing units!!Occupied housing units!!MONTHLY HOUSING COSTS!!Median (dollars)',
 'Estimate!!Percent renter-occupied housing units!!Occupied housing units!!HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2017 INFLATION-ADJUSTED DOLLARS)!!Median household income (dollars)',
 'Estimate!!Percent renter-occupied housing units!!Occupied housing units!!MONTHLY HOUSING COSTS!!Median (dollars)']

In [25]:
#import re
#clean = []
#for t in cols_list:
#    clean.append(re.sub(r'^.*?Median', '', t))

In [182]:
median_2017_df = df_2017[cols_list]

In [183]:
median_2017_df.rename(columns={
    'Geographic Area Name': 'location',
    'Estimate!!Occupied housing units!!Occupied housing units!!HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2017 INFLATION-ADJUSTED DOLLARS)!!Median household income (dollars)': 'Median household income (dollars)',
    'Estimate!!Occupied housing units!!Occupied housing units!!MONTHLY HOUSING COSTS!!Median (dollars)': 'Monthly cost',
    'Estimate!!Percent occupied housing units!!Occupied housing units!!HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2017 INFLATION-ADJUSTED DOLLARS)!!Median household income (dollars)': 'Percent occupied income',
    'Estimate!!Percent occupied housing units!!Occupied housing units!!MONTHLY HOUSING COSTS!!Median (dollars)':'Percent Occupied cost',
    'Estimate!!Owner-occupied housing units!!Occupied housing units!!HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2017 INFLATION-ADJUSTED DOLLARS)!!Median household income (dollars)':'Owner occupied income',
    'Estimate!!Owner-occupied housing units!!Occupied housing units!!MONTHLY HOUSING COSTS!!Median (dollars)': 'Owner occupied cost',
    'Estimate!!Percent owner-occupied housing units!!Occupied housing units!!HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2017 INFLATION-ADJUSTED DOLLARS)!!Median household income (dollars)':'Percent owner occupied income',
    'Estimate!!Percent owner-occupied housing units!!Occupied housing units!!MONTHLY HOUSING COSTS!!Median (dollars)':'Percent owner occupied house cost',
    'Estimate!!Renter-occupied housing units!!Occupied housing units!!HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2017 INFLATION-ADJUSTED DOLLARS)!!Median household income (dollars)':'renter occupied income',
    'Estimate!!Renter-occupied housing units!!Occupied housing units!!MONTHLY HOUSING COSTS!!Median (dollars)': 'renter occupied cost',
    'Estimate!!Percent renter-occupied housing units!!Occupied housing units!!HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2017 INFLATION-ADJUSTED DOLLARS)!!Median household income (dollars)': 'percent renter occupied income',
    'Estimate!!Percent renter-occupied housing units!!Occupied housing units!!MONTHLY HOUSING COSTS!!Median (dollars)':'percent renter occupied monthly costs'
    
    
    
    
}, inplace=True)

C:\Users\eswan\anaconda3\lib\site-packages\pandas\core\frame.py:4441: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [184]:
median_2017_df.head()

,location,Median household income (dollars),Monthly cost,Percent occupied income,Percent Occupied cost,Owner occupied income,Owner occupied cost,Percent owner occupied income,Percent owner occupied house cost,renter occupied income,renter occupied cost,percent renter occupied income,percent renter occupied monthly costs
0,"Abbeville, LA Urban Cluster (2010)",41082,514,41082,514,51168,399,51168,399,23326,643,23326,643
1,"Abbeville, SC Urban Cluster (2010)",22898,549,22898,549,32998,572,32998,572,14408,544,14408,544
2,"Abbotsford, WI Urban Cluster (2010)",42043,608,42043,608,53068,667,53068,667,28594,576,28594,576
3,"Aberdeen, MS Urban Cluster (2010)",29317,578,29317,578,44957,622,44957,622,18199,537,18199,537
4,"Aberdeen, SD Urban Cluster (2010)",47342,721,47342,721,70839,840,70839,840,30029,641,30029,641

In [185]:
median_2017_df[['city', 'state']] = median_2017_df['location'].str.split(',', expand=True)

C:\Users\eswan\anaconda3\lib\site-packages\pandas\core\frame.py:3191: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [186]:
median_2017_df.head()

,location,Median household income (dollars),Monthly cost,Percent occupied income,Percent Occupied cost,Owner occupied income,Owner occupied cost,Percent owner occupied income,Percent owner occupied house cost,renter occupied income,renter occupied cost,percent renter occupied income,percent renter occupied monthly costs,city,state
0,"Abbeville, LA Urban Cluster (2010)",41082,514,41082,514,51168,399,51168,399,23326,643,23326,643,Abbeville,LA Urban Cluster (2010)
1,"Abbeville, SC Urban Cluster (2010)",22898,549,22898,549,32998,572,32998,572,14408,544,14408,544,Abbeville,SC Urban Cluster (2010)
2,"Abbotsford, WI Urban Cluster (2010)",42043,608,42043,608,53068,667,53068,667,28594,576,28594,576,Abbotsford,WI Urban Cluster (2010)
3,"Aberdeen, MS Urban Cluster (2010)",29317,578,29317,578,44957,622,44957,622,18199,537,18199,537,Aberdeen,MS Urban Cluster (2010)
4,"Aberdeen, SD Urban Cluster (2010)",47342,721,47342,721,70839,840,70839,840,30029,641,30029,641,Aberdeen,SD Urban Cluster (2010)

In [187]:
median_2017_df['state'] = median_2017_df['state'].str.split(' ').str[1]

<ipython-input-187-12601e78742a>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  median_2017_df['state'] = median_2017_df['state'].str.split(' ').str[1]

In [188]:
median_2017_df.head()

,location,Median household income (dollars),Monthly cost,Percent occupied income,Percent Occupied cost,Owner occupied income,Owner occupied cost,Percent owner occupied income,Percent owner occupied house cost,renter occupied income,renter occupied cost,percent renter occupied income,percent renter occupied monthly costs,city,state
0,"Abbeville, LA Urban Cluster (2010)",41082,514,41082,514,51168,399,51168,399,23326,643,23326,643,Abbeville,LA
1,"Abbeville, SC Urban Cluster (2010)",22898,549,22898,549,32998,572,32998,572,14408,544,14408,544,Abbeville,SC
2,"Abbotsford, WI Urban Cluster (2010)",42043,608,42043,608,53068,667,53068,667,28594,576,28594,576,Abbotsford,WI
3,"Aberdeen, MS Urban Cluster (2010)",29317,578,29317,578,44957,622,44957,622,18199,537,18199,537,Aberdeen,MS
4,"Aberdeen, SD Urban Cluster (2010)",47342,721,47342,721,70839,840,70839,840,30029,641,30029,641,Aberdeen,SD

In [189]:
median_2017_df.drop(columns = 'location', inplace=True)

C:\Users\eswan\anaconda3\lib\site-packages\pandas\core\frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [190]:
median_2017_df.insert(0, 'State', median_2017_df['state'])

median_2017_df.insert(0, 'City', median_2017_df['city'])

In [191]:
median_2017_df.drop(columns = ['city', 'state'], inplace=True)

In [192]:
median_2017_df['City'] = median_2017_df['City'].str.lower()
median_2017_df['State'] = median_2017_df['State'].str.lower()

<ipython-input-192-606f5ef153d4>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  median_2017_df['City'] = median_2017_df['City'].str.lower()
<ipython-input-192-606f5ef153d4>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  median_2017_df['State'] = median_2017_df['State'].str.lower()

In [193]:
median_2017_df.head()

,City,State,Median household income (dollars),Monthly cost,Percent occupied income,Percent Occupied cost,Owner occupied income,Owner occupied cost,Percent owner occupied income,Percent owner occupied house cost,renter occupied income,renter occupied cost,percent renter occupied income,percent renter occupied monthly costs
0,abbeville,la,41082,514,41082,514,51168,399,51168,399,23326,643,23326,643
1,abbeville,sc,22898,549,22898,549,32998,572,32998,572,14408,544,14408,544
2,abbotsford,wi,42043,608,42043,608,53068,667,53068,667,28594,576,28594,576
3,aberdeen,ms,29317,578,29317,578,44957,622,44957,622,18199,537,18199,537
4,aberdeen,sd,47342,721,47342,721,70839,840,70839,840,30029,641,30029,641

In [194]:
median_2017_df.drop(columns=['percent renter occupied income', 'percent renter occupied monthly costs',
                     'Percent owner occupied income', 'Percent owner occupied house cost', 
                      'Percent Occupied cost', 'Percent occupied income'], inplace =True)

C:\Users\eswan\anaconda3\lib\site-packages\pandas\core\frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [195]:
median_2017_df.head()

,City,State,Median household income (dollars),Monthly cost,Owner occupied income,Owner occupied cost,renter occupied income,renter occupied cost
0,abbeville,la,41082,514,51168,399,23326,643
1,abbeville,sc,22898,549,32998,572,14408,544
2,abbotsford,wi,42043,608,53068,667,28594,576
3,aberdeen,ms,29317,578,44957,622,18199,537
4,aberdeen,sd,47342,721,70839,840,30029,641

In [196]:
median_2017_df.dtypes

City                                 object
State                                object
Median household income (dollars)     int64
Monthly cost                          int64
Owner occupied income                object
Owner occupied cost                  object
renter occupied income               object
renter occupied cost                 object
dtype: object

### Drop missing data

In [202]:
median_2017_df.loc[median_2017_df['Owner occupied income'].str.contains('-'),:].count()

City                                 0
State                                0
Median household income (dollars)    0
Monthly cost                         0
Owner occupied income                0
Owner occupied cost                  0
renter occupied income               0
renter occupied cost                 0
dtype: int64

In [199]:
median_2017_df = median_2017_df.drop(median_2017_df[median_2017_df['Owner occupied income'].str.contains('-')].index)

In [200]:
median_2017_df = median_2017_df.drop(median_2017_df[median_2017_df['renter occupied income'].str.contains('-')].index)

In [201]:
median_2017_df = median_2017_df.drop(median_2017_df[median_2017_df['renter occupied cost'].str.contains('-')].index)

In [203]:
median_2017_df['Owner occupied income'] = pd.to_numeric(median_2017_df['Owner occupied income'])

median_2017_df['Owner occupied cost'] = pd.to_numeric(median_2017_df['Owner occupied cost'])

median_2017_df['renter occupied income'] = pd.to_numeric(median_2017_df['renter occupied income'])

median_2017_df['renter occupied cost'] = pd.to_numeric(median_2017_df['renter occupied cost'])

In [204]:
median_2017_df.dtypes

City                                 object
State                                object
Median household income (dollars)     int64
Monthly cost                          int64
Owner occupied income                 int64
Owner occupied cost                   int64
renter occupied income                int64
renter occupied cost                  int64
dtype: object

In [205]:
median_2017_df = median_2017_df.add_suffix('_2017')

In [207]:
median_2017_df.rename(columns={
    'City_2017': 'City',
    'State_2017': 'State'
    
    
}, inplace=True)

In [208]:
median_2017_df.columns = median_2017_df.columns.str.lower()

In [210]:
median_2017_df.to_csv('cleaned/income_2017', index=False)