In [2]:
#imports

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

import seaborn as sns

# seaborn plot styles

sns.set_style("dark")
sns.set_palette("deep")
plt.rcParams["axes.labelsize"] = 15
plt.rcParams["axes.titlesize"] = 20
myblue = '#0b5394'

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [7]:
data = pd.read_csv('./2014-2021-PIT-esimates-cleanish.csv', low_memory=False).drop(columns=['Unnamed: 0'])

In [10]:
data.head()
data.columns
data['year']

,CoC Number,CoC Name,Overall Homeless,Overall Homeless - Under 18,Overall Homeless - Age 18 to 24,Overall Homeless - Over 24,Sheltered ES Homeless,Sheltered ES Homeless - Under 18,Sheltered ES Homeless - Age 18 to 24,Sheltered ES Homeless - Over 24,...,Unsheltered Homeless Parenting Youth (Under 25) - Hispanic/Latino,Unsheltered Homeless Parenting Youth (Under 25) - White,Unsheltered Homeless Parenting Youth (Under 25) - Black or African American,Unsheltered Homeless Parenting Youth (Under 25) - Asian,Unsheltered Homeless Parenting Youth (Under 25) - American Indian or Alaska Native,Unsheltered Homeless Parenting Youth (Under 25) - Native Hawaiian or Other Pacific Islander,Unsheltered Homeless Parenting Youth (Under 25) - Multiple Races,CoC Category,City,State
0,AK-500,Anchorage CoC,1023.0,188.0,146.0,689.0,665.0,86.0,88.0,491.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,anchorage,ak
1,AK-501,Alaska Balance of State CoC,761.0,209.0,56.0,496.0,474.0,119.0,30.0,325.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,anchorage,ak
2,AL-500,"Birmingham/Jefferson, St. Clair, Shelby Counti...",1329.0,262.0,76.0,991.0,387.0,47.0,27.0,313.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,birmingham,al
3,AL-501,Mobile City & County/Baldwin County CoC,598.0,126.0,44.0,428.0,287.0,69.0,24.0,194.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,mobile,al
4,AL-502,Florence/Northwest Alabama CoC,209.0,50.0,6.0,153.0,38.0,7.0,1.0,30.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,florence,al

Index(['CoC Number', 'CoC Name', 'Overall Homeless',
       'Overall Homeless - Under 18', 'Overall Homeless - Age 18 to 24',
       'Overall Homeless - Over 24', 'Sheltered ES Homeless',
       'Sheltered ES Homeless - Under 18',
       'Sheltered ES Homeless - Age 18 to 24',
       'Sheltered ES Homeless - Over 24',
       ...
       'Unsheltered Homeless Parenting Youth (Under 25) - Hispanic/Latino',
       'Unsheltered Homeless Parenting Youth (Under 25) - White',
       'Unsheltered Homeless Parenting Youth (Under 25) - Black or African American',
       'Unsheltered Homeless Parenting Youth (Under 25) - Asian',
       'Unsheltered Homeless Parenting Youth (Under 25) - American Indian or Alaska Native',
       'Unsheltered Homeless Parenting Youth (Under 25) - Native Hawaiian or Other Pacific Islander',
       'Unsheltered Homeless Parenting Youth (Under 25) - Multiple Races',
       'CoC Category', 'City', 'State'],
      dtype='object', length=545)

0       2014
1       2014
2       2014
3       2014
4       2014
        ...
2738    2020
2739    2020
2740    2020
2741    2020
2742    2020
Name: year, Length: 2743, dtype: int64

In [17]:
data.groupby(['City', 'State','year'])[['Overall Homeless']].sum()

                      Overall Homeless
City      State year
aberdeen  md    2014             223.0
                2015             210.0
                2016             179.0
                2017             189.0
                2018             190.0
...                                ...
ypsilanti mi    2016             342.0
                2017             302.0
                2018             282.0
                2019             273.0
                2020             274.0

[2566 rows x 1 columns]